<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- These don't seem to be respected when using the System.Data.SQLite dll file instead of the sources
	<dllmap dll="sqlite3" target="lib/wavebox-sqlite3.dylib" os="osx" />
	<dllmap dll="sqlite3" target="lib\\wavebox-sqlite3.dll" os="windows" />
	<dllmap dll="sqlite3" target="lib/wavebox-sqlite3.so" os="linux" />-->
</configuration>