<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Sqlite3 -->
	<dllmap dll="sqlite3" target="libsqlite3.0.dylib" os="osx" />
	<dllmap dll="sqlite3" target="sqlite3.dll" os="windows" />
	<dllmap dll="sqlite3" target="libsqlite3.x86.so.0" os="linux" wordsize="32" />
	<dllmap dll="sqlite3" target="libsqlite3.x64.so.0" os="linux" wordsize="64" />
	
	<!-- ImageMagick -->
	<dllmap dll="libMagickWand" target="libMagickWand-6.Q16.1.dylib" os="osx" />
	<dllmap dll="libMagickCore" target="libMagickCore-6.Q16.1.dylib" os="osx" />
	<dllmap dll="libMagickWand" target="libMagickWand.dll" os="windows" />
	<dllmap dll="libMagickWand" target="libMagickWand-6.Q16-Static.x86.so" os="linux" wordsize="32" />
	<dllmap dll="libMagickWand" target="libMagickWand-6.Q16-Static.x64.so" os="linux" wordsize="64" />
	
	<!-- BASS -->'
	<dllmap dll="bass.dll" target="libbass.dylib" os="osx" />
	<dllmap dll="bass.dll" target="bass.dll" os="windows" />
	<dllmap dll="bass.dll" target="libbass.x86.0" os="linux" wordsize="32" />
	<dllmap dll="bass.dll" target="libbass.x64.0" os="linux" wordsize="64" />
	
</configuration>