<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Needed for the sqlite3 backup methods -->
	<dllmap dll="sqlite3" target="libsqlite3.0.dylib" os="osx" />
	<dllmap dll="sqlite3" target="sqlite3.dll" os="windows" />
	<dllmap dll="sqlite3" target="libsqlite3.so" os="linux" />
</configuration>