<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- BASS -->'
	<dllmap dll="bass.dll" target="libbass.dylib" os="osx" />
	<dllmap dll="bass.dll" target="bass.dll" os="windows" />
	<dllmap dll="bass.dll" target="libbass.x86.so" os="linux" wordsize="32" />
	<dllmap dll="bass.dll" target="libbass.x64.so" os="linux" wordsize="64" />
	
</configuration>