<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Sqlite3 -->
	<dllmap dll="sqlite3" target="lib_native/libsqlite3.0.dylib" os="osx" />
	<dllmap dll="sqlite3" target="lib_native/sqlite3.dll" os="windows" />
	<dllmap dll="sqlite3" target="lib_native/libsqlite3.x86.so" os="linux" wordsize="32" />
	<dllmap dll="sqlite3" target="lib_native/libsqlite3.x64.so" os="linux" wordsize="64" />
</configuration>